# dependencies
node_modules/

# build
dist/
build/

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
_BACKUP_OneDrive_SENAC_BA/
